@model IEnumerable<prototipoSiteTurismo.Entidades.Passagem>

<style>
    body {
        background-color: var(--cor2);
    }
</style>

<div class="container-fluid" style="padding:0px 80px;">


    <div class="col-12" style="margin: 40px 0px">
        <div class="card" style="border-radius: 17px; text-shadow: 0px 0px 3px white; background-color: white">
            <div class="card-body">
                <p class="card-text text-left font-weight-bold"
                   style="color: black; padding-right: 70px;font-size: 25px;"> Passagens Aéreas </p>

                <!--BUSCA DE PASSAGENS-->
                <div class="card">
                    <div class="card-header">Pesquisar Passagens</div>
                    <div class="card-body">
                        <form action="/Passagem/PesquisarPassagem" method="get">
                            <div class="row row justify-content-md-center">
                                <div class="col-4 pt-1">
                                    <select name="itembusca" class="form-control">
                                        <option value="Todos">Pesquisar por todos</option>
                                        <option value="Csaida">Cidade Saida</option>
                                        <option value="Cchegada">Cidade Chegada</option>
                                        <option value="Dsaida">Data Saida</option>
                                        <option value="Dchegada">Data Chegada</option>
                                        <option value="Preco">Preco</option>
                                    </select>

                                </div>
                                <div class="col-4 pt-1"><input type="text" name="query" class="form-control" placeholder="Digite sua busca" /></div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Pesquisar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CidadeSaida)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CidadeChegada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataSaida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataChegada)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Preco)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Detalhes)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.CidadeSaida)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.CidadeChegada)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DataSaida)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DataChegada)
                                </td>
                                <td class="text-center">
                                    <span> R$ @Html.DisplayFor(modelItem => item.Preco)</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalhes)
                                </td>
                                <td>

                                    <a class="btn btn-success" asp-controller="Carrinho" asp-action="Index" asp-route-id="@item.Id">
                                        Adicionar ao carrinho
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn material-icons" asp-controller="Passagem" asp-action="Index" title="Retornar para a Home">
                    west
                </a>

            </div>
        </div>

    </div>

    <p>
        <a asp-action="CriarPassagem">Cadastrar nova passagem</a>
    </p>

</div>
<script>
  

</script>

