@model IEnumerable<prototipoSiteTurismo.Entidades.Passagem>

<style>
    body {
        background-color: var(--cor2);
    }
</style>

<div class="container-fluid" style="padding:0px 80px;">


    <div class="col-12" style="margin: 40px 0px">
        <div class="card" style="border-radius: 17px; text-shadow: 0px 0px 3px white; background-color: white">
            <div class="card-body">
                <!--Migralha de pão-->
                <ol class="breadcrumb " style="background-color: white; padding: 0px; margin: 0px; font-size: 19px;">
                    <li class="breadcrumb-item"><a asp-controller="Passagem" asp-action="Index">Voos</a></li>
                    <li class="breadcrumb-item">Passagens</li>
                    @*<li class="breadcrumb-item active" aria-current="page">Data</li>*@
                </ol>
                <hr />
                <p class="card-text text-left font-weight-bold"
                   style="color: black; padding-right: 70px;font-size: 30px;"> Passagens Aéreas </p>
                <div class="card">

                    <!--BUSCA DE PASSAGENS-->
                    <div class="card-header">Filtro de Passagens</div>
                    <div class="card-body">
                        <form action="/Passagem/PesquisarPassagem" method="get">
                            <div class="row row justify-content-md-center">
                                <div class="col-4 pt-1">
                                    <select name="itembusca" class="form-control">
                                        <option value="Todos">Pesquisar por todos</option>
                                        <option value="Csaida">Cidade Saida</option>
                                        <option value="Cchegada">Cidade Chegada</option>
                                        <option value="Dsaida">Data Saida</option>
                                        <option value="Dchegada">Data Chegada</option>
                                        <option value="Preco">Preco</option>
                                    </select>

                                </div>
                                <div class="col-4 pt-1"><input type="text" name="query" class="form-control" placeholder="Digite sua busca" /></div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Pesquisar</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

                <table class="table">
                    <thead>
                        <tr
                        <tr>
                            <th>
                                <span @Html.DisplayNameFor(model => model.CidadeSaida)> SAÍDA </span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.CidadeChegada)> DESTINO</span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.DataSaida)> SAÍDA</span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.DataChegada)> RETORNO </span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Preco)>PASSAGEM/<i>PESSOA</i></span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Detalhes)> DETALHES</span>
                            </th>
                            <th>
                                <span> ----- </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.CidadeSaida)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.CidadeChegada)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DataSaida)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.DataChegada)
                                </td>
                                <td class="text-center">
                                    <span> R$ @Html.DisplayFor(modelItem => item.Preco)</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalhes)
                                </td>
                                <td>

                                    <a class="btn btn-success" asp-controller="Carrinho" asp-action="Index" asp-route-id="@item.Id">
                                        Adicionar ao carrinho
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn material-icons" asp-controller="Passagem" asp-action="Index" title="Retornar para a Home">
                    west
                </a>

            </div>
        </div>

    </div>

    <p>
        <a asp-action="CriarPassagem">Cadastrar nova passagem</a>
    </p>

</div>
<script>
  

</script>

