@model IEnumerable<prototipoSiteTurismo.Entidades.Passagem>


@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-color: var(--cor2);
    }
</style>

<div class="container-fluid" style="padding: 0px 80px">

    <div class="text-center">
        @if (TempData["erro"] != null)
        {
            <hr />
            <div class="alert alert-success" style="margin: auto;">
                @TempData["erro"]
            </div>
        }
    </div>
    <div class="col-12" style="margin: 40px 0px">
        <div class="card" style="border-radius: 17px; text-shadow: 0px 0px 3px white; background-color: white">
            <div class="card-body">
                <!--Migralha de pão-->
                <ol class="breadcrumb " style="background-color: white; padding: 0px; margin: 0px; font-size: 19px;">
                    <li class="breadcrumb-item"><a asp-controller="Passagem" asp-action="Index">Voos</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Passagem" asp-action="PesquisarPassagem">Passagens</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Carrinho Passagens</li>
                </ol>
                <hr />
                <p class="card-text text-left font-italic font-weight-bold"
                   style="color: black; padding-right: 70px;font-size: 25px;">
                    Carrinho de Passagens | Quantidade de Passagens:  @TempData["Carrinho"]

                </p>
                <a type="button" class="btn btn-success text-right" asp-controller="Passagem" asp-action="PesquisarPassagem" style="padding: 10px 12px; margin-bottom: 20px">Adicionar mais passagem</a>


                <table class="table">

                    <thead>

                        <tr>
                            <th>
                                <span @Html.DisplayNameFor(model => model.CidadeSaida)> SAÍDA </span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.CidadeChegada)> DESTINO</span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.DataSaida)> SAÍDA</span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.DataChegada)> RETORNO </span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Preco)>PASSAGEM/<i>PESSOA</i></span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Detalhes)> DETALHES</span>
                            </th>
                            <th>
                                <span> ----- </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CidadeSaida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CidadeChegada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataSaida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataChegada)
                                </td>
                                <td>
                                    <span>R$ </span> @Html.DisplayFor(modelItem => item.Preco)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalhes)
                                </td>
                                <td>

                                    <a class="btn btn-primary" asp-controller="Carrinho" asp-action="Delete" asp-route-id="@item.Id">
                                        Deletar Passagem
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn material-icons" asp-controller="Passagem" asp-action="PesquisarPassagem" title="Retornar para as passagens">
                    west
                </a>
                <a class="btn material-icons" asp-controller="Login" asp-action="Logoff" title="Sair da sua conta">
                    logout
                </a>
            </div>
        </div>
    </div>


    <p>
        <a asp-action="Create">Create New</a>

    </p>
</div>


