@model IEnumerable<prototipoSiteTurismo.Entidades.Hoteis>

@{
    ViewData["Title"] = "IndexHoteis";
}
<style>
    body {
        background-color: var(--cor2);
    }
</style>

<header>
    <nav class="navbar navbar-expand-lg " id="nav1" style=" background-image: linear-gradient(to bottom, var(--cor3), var(--cor2));">
        <!--nav-1-->
        <div class="container-fluid">
            <a class="navbar-brand ancora" id="img-header" asp-controller="Passagem" asp-action="Index" style="margin-left: 40px;">
                <!--imagem-->
                <img src="~/LogoIHC-removebg-preview-removebg-preview.png" alt="Imagem" class="d-inline-block align-text-top" style=" width: 501px; height: 218px; margin-top: 10px; ">

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav sm-2" style="padding-right: 80px; font-size: 21px">
                    <li class="nav-item" style="padding:0 15px 0 15px;">
                        <a class="nav-link active a ancora ancoravoo" aria-current="page" id="link-menu" asp-controller="Passagem" asp-action="Index">
                            <i class="fa-solid fa-plane"></i> VOOS
                        </a>
                    </li>
                    <li class="nav-item" style="padding:0 15px 0 15px;">
                        <a class="nav-link active a ancora ancorahotel" aria-current="page" asp-controller="Hoteis" asp-action="Index" id="link-menu">
                            <i class="fa-solid fa-hotel"></i> HOTEIS
                        </a>
                    </li>
                    <li class="nav-item" style="padding:0 45px 0 15px;">
                        <a class="nav-link active a ancora ancorapacotes" href="#" id="link-menu">
                            <i class="fa-solid fa-map-location"></i> PACOTES
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <!--Dropbox-->
                        <a class="nav-link active dropdown-toggle ancora ancoramenu " href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                            MENU
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink" style="height: auto; height: auto; width: 252px;">
                            <li><a class="dropdown-item fs-6 text-wrap user" asp-controller="Login" asp-action="EntrarLogin"><i class="fa-solid fa-arrow-right-to-bracket"></i> LOGIN</a></li>
                            <li><hr class="dropdown-divider "></li>
                            <li> <a class="dropdown-item fs-6 text-wrap" asp-controller="Carrinho" asp-action="Index"><i class="fa-solid fa-cart-shopping"></i> CARRINHO PASSAGENS</a></li>
                            <li><hr class="dropdown-divider "></li>
                            <li><a class="dropdown-item fs-6 text-wrap" asp-controller="Carrinho" asp-action="IndexHoteis"><i class="fa-solid fa-cart-shopping"></i> CARRINHO HOTEIS</a></li>
                            <li><hr class="dropdown-divider "></li>
                            <li><a class="dropdown-item fs-6 text-wrap" href="https://pt.delta.com/br/pt/need-help/overview" target="_blank"><i class="fa-solid fa-circle-info"></i> AJUDA</a></li>
                            <li><hr class="dropdown-divider "></li>
                            <li><a class="dropdown-item fs-6 text-wrap" asp-controller="TelasBlocos" asp-action="SobreNos"><i class="fa-solid fa-archway"></i> SOBRE NÓS</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid" style="padding: 0px 80px">
    <div class="text-center">
        @if (TempData["erro"] != null)
        {
            <hr />
            <div class="alert alert-success" style="margin: auto;">
                @TempData["erro"]
            </div>
        }
    </div>

    <div class="col-12" style="margin: 40px 0px">
        <div class="card" style="border-radius: 17px; text-shadow: 0px 0px 3px white; background-color: white">
            <div class="card-body">
                <!--Migralha de pão-->
                <ol class="breadcrumb " style="background-color: white; padding: 0px; margin: 0px; font-size: 19px;">
                    <li class="breadcrumb-item"><a asp-controller="Hoteis" asp-action="Index">Hoteis</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Hoteis" asp-action="PesquisarHoteis">Hoteis Disponíveis</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Carrinho Hoteis</li>
                </ol>
                <hr />
                <p class="card-text text-left font-italic font-weight-bold"
                   style="color: black; padding-right: 70px;font-size: 25px;">
                    Carrinho de Hoteis | Quantidade de Hoteis:  @TempData["Carrinho"]
                </p>
                <a type="button" class="btn btn-success text-right" asp-controller="Hoteis" asp-action="PesquisarHoteis" style="padding: 10px 12px; margin-bottom: 20px">Adicionar mais hoteis</a>
                <table class="table">

                    <thead>
                        <tr>
                            <th>
                                <span @Html.DisplayNameFor(model => model.Nome)> NOME </span>
                            </th>
                            <th>
                                <span @Html.DisplayNameFor(model => model.Cidade)> CIDADE/ESTADO</span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.DataSaida)>INICIO </span>
                            </th>
                            <th>
                                <span @Html.DisplayNameFor(model => model.DataChegada)>FIM </span>

                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Preco)> DIÁRIA/<i>PESSOA</i></span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Detalhes)> DETALHES </span>
                            </th>
                            <th>
                                <span> ----- </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataSaida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataChegada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalhes)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Carrinho" asp-action="DeleteHotel" asp-route-id="@item.Id">
                                        Deletar Hotel
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn material-icons" asp-controller="Hoteis" asp-action="PesquisarHoteis" title="Retornar para os hoteis">
                    west
                </a>
                <a class="btn material-icons" asp-controller="Login" asp-action="Logoff" title="Sair da sua conta">
                    logout
                </a>
            </div>
            <a id="btn-compra" class="btn btn-success " asp-controller="Hoteis" asp-action="Index" type="button" style="font-size: 20px">
                Finalizar compra
            </a>
        </div>
    </div>


    <p>
        <a asp-action="Create">Create New</a>

    </p>

</div>
<script>
    window.onload = () => {
        document.getElementById("btn-compra").onclick = () => {
            alert("COMPRA EFETUADA! \n\nAguarde o boleto de pagamento ser enviado no seu e-mail cadastrado no login.\n\nObrigado por comprar a POUSAR.COM");

        }
    }
</script>

