@model IEnumerable<prototipoSiteTurismo.Entidades.Hoteis>

@{
    ViewData["Title"] = "IndexHoteis";
}
<style>
    body {
        background-color: var(--cor2);
    }
</style>

<div class="container-fluid" style="padding: 0px 80px">
    <div class="text-center">
        @if (TempData["erro"] != null)
        {
            <hr />
            <div class="alert alert-success" style="margin: auto;">
                @TempData["erro"]
            </div>
        }
    </div>

    <div class="col-12" style="margin: 40px 0px">
        <div class="card" style="border-radius: 17px; text-shadow: 0px 0px 3px white; background-color: white">
            <div class="card-body">
                <!--Migralha de pão-->
                <ol class="breadcrumb " style="background-color: white; padding: 0px; margin: 0px; font-size: 19px;">
                    <li class="breadcrumb-item"><a asp-controller="Hoteis" asp-action="Index">Hoteis</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Hoteis" asp-action="PesquisarHoteis">Hoteis Disponíveis</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Carrinho Hoteis</li>
                </ol>
                <hr />
                <p class="card-text text-left font-italic font-weight-bold"
                   style="color: black; padding-right: 70px;font-size: 25px;">
                    Carrinho de Hoteis | Quantidade de Hoteis:  @TempData["Carrinho"]
                </p>
                <a type="button" class="btn btn-success text-right" asp-controller="Hoteis" asp-action="PesquisarHoteis" style="padding: 10px 12px; margin-bottom: 20px">Adicionar mais hoteis</a>
                <table class="table">

                    <thead>
                        <tr>
                            <th>
                                <span @Html.DisplayNameFor(model => model.Nome)> NOME </span>
                            </th>
                            <th>
                                <span @Html.DisplayNameFor(model => model.Cidade)> CIDADE/ESTADO</span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.DataSaida)>INICIO </span>
                            </th>
                            <th>
                                <span @Html.DisplayNameFor(model => model.DataChegada)> FIM </span>

                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Preco)> DIÁRIA/<i>PESSOA</i></span>
                            </th>
                            <th>

                                <span @Html.DisplayNameFor(model => model.Detalhes)> DETALHES </span>
                            </th>
                            <th>
                                <span> ----- </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataSaida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataChegada)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Detalhes)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Carrinho" asp-action="DeleteHotel" asp-route-id="@item.Id">
                                        Deletar Hotel
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <a class="btn material-icons" asp-controller="Hoteis" asp-action="PesquisarHoteis" title="Retornar para os hoteis">
                    west
                </a>
                <a class="btn material-icons" asp-controller="Login" asp-action="Logoff" title="Sair da sua conta">
                    logout
                </a>
            </div>
        </div>
    </div>


    <p>
        <a asp-action="Create">Create New</a>

    </p>

</div>


