@model IEnumerable<projeto_crudMVC_csharp.Entidades.Usuarios>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">Pesquisar Usuários</div>
    <div class="card-body">
        <form action="/Usuarios/Index" method="get">
            <div class="row">
                <div class="col-4">
                   
                    <a href="/Usuarios/Create" class="btn btn-success">Novo usuário</a>
                </div>
                <div class="col-4">
                    <select name="tipoPesquisa" class="form-control">
                        <option value="Todos">Pesquisar por todos</option>
                        <option value="Id">Id</option>
                        <option value="Nome">Nome</option>
                        <option value="Email">E-mail</option>
                    </select>
                    <input type="text" name="texto_input" class="form-control" placeholder="Digite sua busca" />
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </div>
        </form>    
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
